<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="icon" href="http://xflowresearch.com/wp-content/plugins/genesis-favicon-uploader/favicons/favicon.ico"/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


</head>
<body>

<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">DASHBOARD</a>
        <div class="collapse navbar-collapse justify-content-end">
            <!--<a class="nav-link" href="http://xflowresearch.com/"><img src="/images/logo.png"> </a>-->
            <a class="nav-link" href="http://xflowresearch.com/"><img id="logo" alt="x-Flow Logo"
                                                                      src="/images/xFlow-Logo.png">
            </a>
        </div>
    </nav>
</header>

<main role="main">

    <div class="container-fluid main-body">
        <div class="row">
            <div class="col-12 col-md-12">

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-search"
                           role="tab" aria-controls="nav-home" aria-selected="true">Search</a>
                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-whitelist"
                           role="tab" aria-controls="nav-profile" aria-selected="false">Whitelist Users</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-search" role="tabpanel"
                         aria-labelledby="nav-search-tab">
                        <div class="mt-15" id="1st-tab">
                            <form id="idn-form">
                                <h5>MSISDN</h5>
                                <div class="row">
                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <!-- <label for="msisdn">MSISDN</label> -->
                                            <input required type="text" class="form-control" id="msisdn"
                                                   aria-describedby="Msisdn"
                                                   placeholder="Enter MSISDN">
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-2">
                                        <div class="form-group">
                                            <div style="">
                                                <button data-toggle="tooltip" title="Search" type="submit"
                                                        class="btn grey-button">
                                                    <i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div id="output" class="row d-none">
                                <div class="col-md-12">
                                    <div class="panel panel-default output-panel">
                                        <div class="panel-heading"><h4>RESULT</h4>
                                        </div>

                                        <div id="tablePanelBody" class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover specialCollapse">
                                                    <thead>
                                                    <tr>
                                                        <th>MSISDN</th>
                                                        <th>SITE</th>
                                                        <th>PRIVATE IP</th>
                                                        <th>PUBLIC IP</th>
                                                        <th>PORT RANGE</th>
                                                        <th>RULE APPLIED</th>
                                                        <th>PACKET COUNT</th>
                                                        <th>BYTE COUNT</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr id="tr-output">

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="action-btn">
                                            <a id="capture" data-action="1" class="btn grey-button"
                                               href="javascript:void(0)"
                                               data-toggle="tooltip" data-placement="bottom" title="Start Capturing"><i
                                                        class="fas fa-box"></i>
                                                Capture</a>
                                            <a data-toggle="tooltip" data-placement="bottom" title="Download File"
                                               id="download-file"
                                               class="btn grey-button d-none" href="./download-file" download><i
                                                        class="fas fa-download"></i> Download</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-whitelist" role="tabpanel" aria-labelledby="nav-whitelist-tab">
                        <div class="mt-15" id="2nd-tab">
                            <form id="whitelist-form">
                                <h5>Add or delete a user from whitelist</h5>
                                <div class="row">
                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <input required type="text" class="form-control" id="msisdn"
                                                   aria-describedby="Msisdn"
                                                   placeholder="Enter MSISDN">
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <div class="action-btn">
                                                <button type="submit" id="add-whitelist" data-action="add"
                                                        class="btn grey-button whitelist-action"
                                                        data-toggle="tooltip"
                                                        data-placement="bottom" title="Add user to whitelist"><i
                                                            class="fas fa-plus-circle"></i> Add
                                                </button>

                                                <button type="submit" data-action="delete" data-toggle="tooltip"
                                                        data-placement="bottom"
                                                        title="Remove user from whitelist"
                                                        id="delete-whitelist" class="btn grey-button whitelist-action">
                                                    <i
                                                            class="far fa-trash-alt"></i> Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div id="output" class="row d-none">
                                <div class="col-md-12">
                                    <div class="panel panel-default output-panel">
                                        <div class="panel-heading"><h4>RESULT</h4>
                                        </div>

                                        <div id="tablePanelBody" class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover specialCollapse">
                                                    <thead>
                                                    <tr>
                                                        <th>MSISDN</th>
                                                        <th>SITE</th>
                                                        <th>PRIVATE IP</th>
                                                        <th>PUBLIC IP</th>
                                                        <th>PORT RANGE</th>
                                                        <th>RULE APPLIED</th>
                                                        <th>PACKET COUNT</th>
                                                        <th>BYTE COUNT</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr id="tr-output">

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="action-btn">
                                            <a id="capture" data-action="1" class="btn grey-button"
                                               href="javascript:void(0)"
                                               data-toggle="tooltip" data-placement="bottom" title="Start Capturing"><i
                                                        class="fas fa-box"></i>
                                                Capture</a>
                                            <a data-toggle="tooltip" data-placement="bottom" title="Download File"
                                               id="download-file"
                                               class="btn grey-button d-none" href="./download-file" download><i
                                                        class="fas fa-download"></i> Download</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div id="output-error" class="row d-none">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    <strong>Ohh!</strong> Some error occurred.
                </div>
            </div>
        </div>

        <div id="output-message" class="row d-none">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                </div>
            </div>
        </div>

        <div id="main-loader" class="loading d-none">Loading&#8230;</div>

    </div>


    <footer class="footer">
        <div class="container">
            <span>Copyright ©&nbsp;2018 · <a href="http://xflowresearch.com">xFlow Research Inc</a> · All Rights Reserved</span>
        </div>
    </footer>

</main>


<!-- Bootstrap core JavaScript
================================================== -->

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


<script>

    function failureHtmlState() {
        $('#output-error').removeClass('d-none');
        $('#output').addClass('d-none');
        $('#download-file').addClass('d-none');
        $('#main-loader').addClass('d-none');
        $('#output-message').addClass('d-none');
    }

    function initialHtmlState() {
        $('#output').addClass('d-none');
        $('#download-file').addClass('d-none');
        $('#main-loader').removeClass('d-none');
        $('#output-message').addClass('d-none');
    }


    function switchState(){
        $('#output').addClass('d-none');
        $('#download-file').addClass('d-none');
        $('#main-loader').addClass('d-none');
        $('#output-message').addClass('d-none');
        $('#output-error').addClass('d-none');
    }


    function successHtmlState() {
        $('#output').removeClass('d-none');
        $('#main-loader').addClass('d-none');
        $('#output-error').addClass('d-none');
    }

    function showSuccessMsg(msg) {
        $('#output-message').removeClass('d-none');
        $('#output-message').find('.alert').html(msg);
    }

    function validateMsisdn(mssidn) {
        if (mssidn != "" && !isNaN(mssidn) && mssidn.length == 12 && mssidn.substring(0, 3) == '947')
            return true;
        return false;
    }


    function fetchData(mssidn) {
        if (validateMsisdn(mssidn)) {
            $.post("./fetch-data",
                {
                    msisdn: mssidn
                },
                function (data, status) {
                    if (status == "success" && typeof data !== "undefined" && data !== null) {

                        //if (data[0] == "0") {
                        if (1) {
                            successHtmlState();
                            //$('#tr-output').html('<td>' + data[1] + '</td><td>' + data[2] + '</td><td>' + data[3] + '</td><td>' + data[4]+ '</td><td>' + data[5] + '</td><td>' + data[6] + '</td><td>' + data[7] + '</td><td>'+data[8]+'</td>');
                            let msisdn = typeof data[1] != "undefined" ? data[1] : "";
                            let site = typeof data[2] != "undefined" ? data[2] : "";
                            let priv_ip = typeof data[3] != "undefined" ? data[3] : "";
                            let pub_ip = typeof data[4] != "undefined" ? data[4] : "";
                            let port_range = typeof data[5] != "undefined" ? data[5] : "";
                            let rule_app = typeof data[6] != "undefined" ? data[6] : "";
                            let packet_count = typeof data[7] != "undefined" ? data[7] : "";
                            let byte_count = typeof data[8] != "undefined" ? data[8] : "";
                            $('#tr-output').html('<td>' + msisdn + '</td><td>' + site + '</td><td>' + priv_ip + '</td><td>' + pub_ip + '</td><td>' + port_range + '</td> <td>' + rule_app + '</td><td>' + packet_count + '</td><td>' + byte_count + '</td> ');
                        }
                        else {
                            //means not a vip number
                            failureHtmlState();
                            $('#output-error').find('.alert').html("Not a VIP MSISDN.");
                        }
                    }
                    else {
                        failureHtmlState();
                    }
                }
            ).fail(function (response) {
                failureHtmlState();
                window.setInterval(function () {
                    fetchData($('#msisdn').val());
                }, 5000);
            });
        } else {
            failureHtmlState();
            $('#output-error').find('.alert').html("Not a valid MSISDN.");
        }
    }


    function addToWhitelist(msisdn) {
        console.log("ADD TO WHITELIST");

        if (validateMsisdn(msisdn)) {
            successHtmlState();
            showSuccessMsg("MSISDN has been successfully added to whitelist.");
//            $.post("./msisdn/" + msisdn,
//                {
//                    msisdn: msisdn
//                },
//                function (data, status) {
//                    if (status == "success" && typeof data !== "undefined" && data !== null && typeof data.msg !== "undefined") {
//                        showSuccessMsg(data.msg);
//                    }
//                    else {
//                        failureHtmlState();
//                    }
//                }
//            ).fail(function (response) {
//                failureHtmlState();
//            });

        }
        else {
            failureHtmlState();
            console.log("Failure jasndjas");
            $('#output-error').find('.alert').html("Not a valid MSISDN.");
        }
    }


    function removeFromWhitelist(msisdn) {
        if (validateMsisdn(msisdn)) {
            successHtmlState();
             showSuccessMsg("MSISDN has been successfully removed from whitelist.");
//            $.ajax({
//                url: "./msisdn/" + msisdn,
//                // url: "http://localhost:6106/api/v1/cart",
//                type: 'DELETE',
////                beforeSend: function (xhr) {
////                    xhr.setRequestHeader('x-access-token', "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjViMTY2NzBjYzE3NzhmMjJlODkxOTFlYyIsInVzZXJfdHlwZSI6Imd1ZXN0IiwiaWF0IjoxNTI4ODczNjUwLCJleHAiOjE1NjA0MDk2NTB9.o_LJ4I8ez8MuX8nz0VTRXoRVpluaZYP2qi2ey7uydIA");
////                },
//                success: function (data) {
//                    console.log("DATA IS THIS " + data);
//                    if (typeof data !== "undefined" && data !== null && typeof data.msg !== "undefined") {
//                        showSuccessMsg(data.msg);
//                    }
//                    else {
//                        failureHtmlState();
//                    }
//                }
//            }).fail(function (response) {
//                failureHtmlState();
//            });
        }
        else {
            failureHtmlState();
            $('#output-error').find('.alert').html("Not a valid MSISDN.");
        }
    }


    $(document).ready(function (e) {
        //$('[data-toggle="tooltip"]').tooltip();
        $('#idn-form').on('submit', function (e) {
            e.preventDefault();
            initialHtmlState();
            fetchData($('#msisdn').val());
        });


        $('.main-body .nav-item').on('click', function (e) {
            console.log("CLICKINGGGG");
            switchState();
        });


        $('.whitelist-action').on('click', function (e) {
            e.preventDefault();
            console.log("CLICKING  " + $('#whitelist-form').find('#msisdn').val() + " action is this " + $(this).data("action"));
            initialHtmlState();
            if ($(this).data("action") == "add")
                addToWhitelist($('#whitelist-form').find('#msisdn').val());
            else
                removeFromWhitelist($('#whitelist-form').find('#msisdn').val());
        });


        $('#capture').on('click', function (e) {
            var $this = $(this);
            var mssidn = $('#msisdn').val();
            var action = $(this).data("action");
            console.log("I'm touched action " + action);
            if (mssidn != "" && !isNaN(mssidn) && mssidn.length == 12) {
                if (action == 1) {
                    var loadingText = '<i class="fas fa-spinner fa-spin"></i>  Stop';
                    $this.data('original-text', $(this).html());
                    $this.attr('title', 'Stop Capturing');
                    $('#download-file').addClass('d-none');
                    $this.data('action', 0);
                    $this.html(loadingText);
                } else {
                    $this.data('action', 1);
                    $this.html($this.data('original-text'));
                }
                $.post("./capture-traffic",
                    {
                        msisdn: mssidn,
                        action: action
                    },
                    function (data, status) {
                        //$this.html($this.data('original-text'));
                        if (status == "success" && typeof data !== "undefined" && data !== null) {
                            if (action == 0) {
                                $('#download-file').removeClass('d-none');
                            }
                        } else {
                            failureHtmlState();
                        }
                    }).fail(function (response) {
                    failureHtmlState();
                });
            } else {
                $this.html($this.data('original-text'));
                failureHtmlState();
                $('#output-error').find('.alert').html("Not a valid MSISDN.");
            }
        });
    });
</script>

</body>
</html>
